@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="dedication"] p{
	font-variant: small-caps;
	text-align: center;
}

[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}
/* End all epigraphs */